﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="margin-top:100px;">
    <div class="text-center">
        <h1 class="display-4">CarRental</h1>
        <h3 class="">site used for car renting</h3>
        <h4 class="">Login and reserve your disire car from everywhere !</h4>
    </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-end align-items-start" style="margin-top:200px;">
    <h4 class="container-fluid text-left">
        Contact
    </h4>

    <div class="container-fluid d-flex flex-column justify-content-start align-items-start">
        <div class="text-left">Nr tel: 0754.911.911</div>
        <div class="text-left">Email: carsRental@gmail.com</div>
        <div class="text-left">Address: Str. Street, Nr.25, Cluj-Napoca, Cluj</div>
    </div>
</div>
