﻿
.car-wrapper {
    width: 100% !important;
    height: 100% !important;
}

    .car-wrapper > img {
        object-fit: contain;
        max-height:350px;
        max-height: 350px;
    }

.bordered {
    border: 1px solid black;
}

.bordered-b {
    border-bottom: 1px solid black;
}

.icon-wapper {
    width: 35px;
    height: 33px;
}

.icon-car-characteristics {
    color: #9ef542;
    width: 30px !important;
    height: 30px !important;
}

#sidebar-wrapper {
    width: 250px;
}

.pointer {
    cursor: pointer;
}
