﻿
footer {
    position: initial !important;
}

.select2-selection {
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding-top: .375rem !important;
    padding-bottom: .375rem !important;
    padding-right: .75rem !important;
    padding-left: .35rem !important;
}

.select2-container {
    width: 100% !important;
}

.car-uploaded-img {
    height: 300px;
    margin-right: 15px;
    margin-left: 15px;
}

.bordered {
    border: 1px solid black;
}
.img-car {
    height:100%;
    width:100%;
    object-fit: contain;
}
