﻿
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<PersitanceDb.Entities.User> SignInManager
@inject UserManager<PersitanceDb.Entities.User> UserManager
@model List<CarRental.Models.Car>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="~/starRatingPlugin/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/starRatingPlugin/themes/krajee-svg/theme.min.css" media="all" rel="stylesheet" type="text/css" />

@foreach (var car in Model)
{
    <div class="row bordered mt-5">
        <div class="row img-container car-wrapper m-0 p-0 col-md-6">
            @if (car.Image != null)
            {
                <img src="~/images/cars/@car.Image" />
            }
            else
            {
                <img src=@CarRental.Helpers.Car.IconCarTest>
            }

        </div>
        <div id="car-wrapper-characteristics" class="row d-flex flex-row m-0 col-md-6">
            <div class="d-flex flex-column flex-grow-1">
                <h3 class="text-center">
                    @car.ModelName @car.Name
                </h3>
                <div class="row d-flex flex-row m-0">
                    <div class="col-md-6 flex-column">
                        <div class="row flex-row justify-content-start ml-1">
                            <div class="row m-0 p-0 icon-wapper">
                                <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconSeats>
                            </div>
                            <div class="row m-0 p-1 flex-grow-1">
                                @car.CountSeats seats
                            </div>
                        </div>
                        <div class="row flex-row justify-content-start ml-1">
                            <div class=" icon-wapper">
                                <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconLargeBags>
                            </div>
                            <div class="">
                                @car.CountLargeBags large bags
                            </div>
                        </div>


                        @if (car.HasAirConditioning)
                        {
                            <div class="row flex-row justify-content-start ml-1">
                                <div class=" icon-wapper">
                                    <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconAirConditioning>
                                </div>
                                <div class="">
                                    Air conditioning
                                </div>
                            </div>
                        }
                        <div class="row flex-row justify-content-start ml-1">
                            <div class=" icon-wapper">
                                <img class="icon-car-characteristics" src="~/images/cars/kilometer.svg">
                            </div>
                            <div class="">
                                @car.Km km
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row flex-row justify-content-start ml-1">
                            <div class="icon-wapper">
                                <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconDoors>
                            </div>
                            <div class="">
                                @car.CountDoors doors
                            </div>
                        </div>
                        <div class="row flex-row justify-content-start ml-1">
                            <div class=" icon-wapper">
                                <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconSmallBags>
                            </div>
                            <div class="">
                                @car.CountSmallBags small bags
                            </div>
                        </div>
                        <div class="row flex-row justify-content-start ml-1">
                            <div class=" icon-wapper">
                                <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconGearBox>
                            </div>
                            <div class="">
                                @car.GearBox Gearbox
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-column align-items-center justify-content-start">
                <div>Pret pe zi:</div>
                <h4 class="">
                    @car.PricePerDay E
                </h4>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 row m-0 p-0 flex-row">
            <div class="bordered col-6">
                <h4 class="text-center">
                    Rating
                </h4>
                <input class="rating-item-car" id="@car.IdCar" value="@car.Rating" />
            </div>

            <div class="bordered col-6" id="policies-wrapper">
                <h4 class="text-center">
                    Policies
                </h4>
                <div class="flex-column">
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconFullToFull />
                        </div>
                        <div class="">
                            Full to Full
                        </div>
                    </div>
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconMileageUnlimited />
                        </div>
                        <div class="">
                            Mileage: 12000km
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 row m-0 p-0 flex-row">
            <div class="bordered col-6" id="policies-wrapper">
                <h4 class="text-center">
                    Included benefits
                </h4>
                <div class="flex-column">
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconChek />
                        </div>
                        <div class="">
                            Cancellation
                        </div>
                    </div>
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconChek />
                        </div>
                        <div class="">
                            Amendments
                        </div>
                    </div>
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconChek />
                        </div>
                        <div class="">
                            Theft Protection
                        </div>
                    </div>
                    <div class="row m-0 flex-row justify-content-start">
                        <div class="icon-wapper">
                            <img class="icon-car-characteristics" src=@CarRental.Helpers.Car.IconChek />
                        </div>
                        <div class="">
                            Collision Damage Waiver
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordered col-6">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("ViewDeal", "Car",new { id = @car.IdCar })'">Reserve</button>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Car",new { id = @car.IdCar })'">Edit</button>
                    <button class="btn btn-primary car-delete-button" id="@car.IdCar">Delete</button>
                }
            </div>
        </div>
    </div>
}

<script src="~/starRatingPlugin/js/star-rating.min.js" type="text/javascript"></script>
<script src="~/starRatingPlugin/js/locales/ro.js" type="text/javascript"></script>
<script src="~/starRatingPlugin/themes/krajee-svg/theme.min.js" type="text/javascript"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" type="text/javascript"></script>

<script>
        $(document).ready(function () {

            $('.rating-item-car').rating({
                min: 0,
                max: 5,
                step: 0.5,
                size: 'md',
                displayOnly:true,
                language: "en",
            });


            $('.car-delete-button').on("click", function (event) {
                var carId = $(this).attr('id');
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger mr-2'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        swalWithBootstrapButtons.fire(
                            'Deleted!',
                            'Your car has been deleted.',
                            'success',
                        ).then(function () {
                            $.ajax({
                                type: "GET",
                                data: { id: carId },
                                url: '@Url.Action("Delete", "Car")',
                                success: function (data) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/Car/Filters",
                                        data: $('#side-filter').serializeArray(),
                                        success: function (data) {
                                            $("#cars-wrapper").html(data);
                                        },
                                        error: function (data) {
                                            console.log(data);
                                        }
                                    })
                                },
                                error: function (data) {

                                }
                            })
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Cancelled',
                            'error'
                        )
                    }
                })

            });

        });
</script>