﻿
@model CarRental.Models.CarFilters
<form class="d-flex flex-column mr-3 ml-1" id="side-filter">
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">
            <span class="flex-grow-1">Car models</span>
            <i class="fas fa-chevron-down"></i>
        </div>

        <div class="collapse show multi-collapse" id="multiCollapseExample1">
            @for (var i = 0; i < Model.Models.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.Models[i].Name
                        <input type="checkbox" asp-for="@Model.Models[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.Models[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="true" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Seats</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse show multi-collapse" id="multiCollapseExample2">
            @for (var i = 0; i < Model.Seats.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.Seats[i].Name
                        <input type="checkbox" asp-for="@Model.Seats[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.Seats[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Color</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            @for (var i = 0; i < Model.Colors.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.Colors[i].Name
                        <input type="checkbox" asp-for="@Model.Colors[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.Colors[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Doors</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
            @for (var i = 0; i < Model.Doors.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.Doors[i].Name
                        <input type="checkbox" asp-for="@Model.Doors[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.Doors[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Large bags</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample5">
            @for (var i = 0; i < Model.CountLargeBags.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.CountLargeBags[i].Name
                        <input type="checkbox" asp-for="@Model.CountLargeBags[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.CountLargeBags[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Small bags</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample6">
            @for (var i = 0; i < Model.CountSmallBags.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.CountSmallBags[i].Name
                        <input type="checkbox" asp-for="@Model.CountSmallBags[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.CountSmallBags[i].Name" />
                </div>
            }
        </div>
    </div>
    <div class="row m-0 p-0 d-flex flex-column">
        <div class="pointer d-flex flex-row align-items-center p-1 collapse-wrapper" data-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="flex-grow-1">Gearbox</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample7">
            @for (var i = 0; i < Model.GearTypes.Count; i++)
            {
                <div class="">
                    <label class="container-checkbox">
                        @Model.GearTypes[i].Name
                        <input type="checkbox" asp-for="@Model.GearTypes[i].Selected">
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" asp-for="@Model.GearTypes[i].Name" />
                </div>
            }
        </div>
    </div>
    <button id="apply-car-filters" type="button" class="btn btn-primary mt-1">Apply</button>
</form>
<style>

    .collapse-wrapper {
        color: #fff;
        background-color: #0074D9;
        border-color: #007bff;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
</style>
<script>
    $(document).ready(function () {
        $('.collapse-wrapper').on("click", function () {
            let $child = $(this).children().eq(1);
            if ($child.hasClass("fa-chevron-down")) {
                $child.removeClass("fa-chevron-down").addClass("fa-chevron-up");
            } else {
                $child.removeClass("fa-chevron-up").addClass("fa-chevron-down");
            }
        })

        $('#apply-car-filters').on("click", function (event) {
            $.ajax({
                type: "POST",
                url: "/Car/Filters",
                data: $('#side-filter').serializeArray(),
                success: function (data) {
                    $("#cars-wrapper").html(data);
                },
                error: function (data) {
                    console.log(data);
                }

            })
        });
    });
</script>