﻿@model CarRental.Models.NewCar

@{
    ViewData["Title"] = "AddNewCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="~/css/checkbox.css" />
    <link rel="stylesheet" href="~/css/new-car.css" />
}


<div class="row d-flex flex-column justify-content-centera align-items-center">
    <div class="col-md-8">
        <h4 class="text-center">Adauga masina</h4>
        <hr />
        <form asp-action="AddNewCar" id="new-car-form" novalidate enctype="multipart/form-data">
            <input asp-for="Image" value=@Model.Image type="hidden" />
            <input asp-for="ModelName" value="@Model.ModelName" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="IdCarModel" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdCarModel, new SelectList(ViewBag.Models, "Id", "Name"), "",
                    new { @class = "select form-control" })
                    <span asp-validation-for="IdCarModel" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Gearbox" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Gearbox, new SelectList(ViewBag.GearBox, "Name", "Name"), "",
                    new { @class = "select form-control" })
                    <span asp-validation-for="Gearbox" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="CountDoors" class="control-label"></label>
                        <input asp-for="CountDoors" class="form-control" />
                        <span asp-validation-for="CountDoors" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CountSeats" class="control-label"></label>
                        <input asp-for="CountSeats" class="form-control" />
                        <span asp-validation-for="CountSeats" class="text-danger"></span>
                    </div>
                </div>
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="CountLargeBags" class="control-label"></label>
                        <input asp-for="CountLargeBags" class="form-control" />
                        <span asp-validation-for="CountLargeBags" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CountSmallBags" class="control-label"></label>
                        <input asp-for="CountSmallBags" class="form-control" />
                        <span asp-validation-for="CountSmallBags" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label class="control-label hidden">@Html.DisplayNameFor(model => model.HasAirConditioning)</label>
                        <label class="container-checkbox">
                            @Html.DisplayNameFor(model => model.HasAirConditioning)
                            <input type="checkbox" asp-for="@Model.HasAirConditioning">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" value="@CarRental.Helpers.CarStatus.Available.ToString()" readonly class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="Km" class="control-label"></label>
                        <input asp-for="Km" class="form-control" />
                        <span asp-validation-for="Km" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PricePerDay" class="control-label"></label>
                        <input asp-for="PricePerDay" class="form-control" />
                        <span asp-validation-for="PricePerDay" class="text-danger"></span>
                    </div>
                </div>


            </div>

            <div class="row d-flex flex-column">
                @if (Model.Image == null)
                {
                    <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                        <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                            <img style="width:50px;height:50px" src="~/images/cars/default.jpg" alt="">
                        </div>

                    </div>

                }
                else
                {
                    <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                        <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                            <img class="car-uploaded-img img-car" src="~/images/cars/@Model.Image" alt="">
                        </div>

                    </div>

                }
                <div class="form-group">
                    <div class="row mr-0 ml-0 pr-0 pl-0 col-md-6">
                        <div class="col-md-7">
                            <input class="float-left" type="file" asp-for="FormFile" />
                        </div>
                        <div class="col-md-5">
                            <input class="float-md-right" type="submit" id="upload-car-image" value="Upload" />
                        </div>

                    </div>
                </div>

            </div>


            <div class="form-group">
                <input type="submit" id="add-car" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>


@section Scripts{
    <script>
        function selectInitialization(id, name = '') {
            $(id).select2({
                tags: true,
                createTag: function (params) {
                    var term = $.trim(params.term);
                    var count = 0
                    var existsVar = false;

                    if ($(id + ' option').length > 0) {
                        $(id + ' option').each(function () {
                            if ($(this).text().toUpperCase() == term.toUpperCase()) {
                                existsVar = true
                                return false;
                            } else {
                                existsVar = false
                            }
                        });
                        if (existsVar) {
                            return null;
                        }
                        if (name != '') {
                            $(name).val(params.term);
                        }

                        return {
                            id: -1,
                            text: params.term + '(new)',
                            newTag: true
                        }
                    }
                    else {
                        if (name != '') {
                            $(name).val(params.term);
                        }
                        return {
                            id: -1,
                            text: params.term,
                            newTag: true
                        }
                    }
                },
                maximumInputLength: 20,
                closeOnSelect: true
            })
        }
        $(document).ready(function () {

            selectInitialization('#IdCarModel', '#ModelName');
            selectInitialization('#Gearbox');

            $('.hidden').css("visibility", "hidden");
            $('#add-car').on("click", function () {
                $('#new-car-form').attr("action", "/Car/AddNewCar").trigger('submit');
            })

            $('#upload-car-image').on("click", function () {
                $('#new-car-form').attr("action", "/Car/ImageUpload").trigger('submit');
            })

        });
    </script>
}
