﻿
@{
    ViewData["Title"] = "GetAllRezervations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars reservation</h2>
<br />
<table id="table_id" class="display" style="width:100%">
</table>

@section Scripts{
    <script src="~/js/AllRezevations.js"></script>
}

@section Modal{
    <div id="modal-wrapper">

    </div>
}