﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid d-flex flex-row">
    <div id="sidebar-wrapper"></div>
    <div class="row flex-column ml-3 mr-0 mt-0 mb-0 p-0 flex-grow-1" id="cars-wrapper"></div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/cars.css" />
    <link rel="stylesheet" href="~/css/checkbox.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/js/cars.js"></script>
}
