﻿@model CarRental.Models.ViewDeal
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<PersitanceDb.Entities.User> SignInManager
@inject UserManager<PersitanceDb.Entities.User> UserManager
@{
    ViewData["Title"] = "View Deal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="~/css/checkbox.css" />
    <link rel="stylesheet" href="~/css/new-car.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
}

<style>


    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .hidden {
        visibility: hidden;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>

<div class="row d-flex flex-column justify-content-centera align-items-center">
    <div class="col-md-8">
        <h4 class="text-center">Car deal</h4>
        <hr />
        <form id="new-car-form" asp-action="ViewDeal" novalidate enctype="multipart/form-data">
            <div class="row">
                <input asp-for="IdUser" value="@UserManager.GetUserId(User)" type="hidden" />
                <input asp-for="Id" value="@Model.Id" type="hidden" />
                <input asp-for="Image" value=@Model.Image type="hidden" />

                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" value="@Model.Name" class="form-control" readonly />
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="IdCarModel" class="control-label"></label>
                    <input asp-for="ModelName" value="@Model.ModelName" readonly class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" value="@Model.Color" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Gearbox" class="control-label"></label>
                    <input asp-for="Gearbox" value="@Model.Gearbox" readonly class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="CountDoors" class="control-label"></label>
                        <input asp-for="CountDoors" value="@Model.CountDoors" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CountSeats" class="control-label"></label>
                        <input asp-for="CountSeats" value="@Model.CountSeats" class="form-control" readonly />
                    </div>
                </div>
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="CountLargeBags" class="control-label"></label>
                        <input asp-for="CountLargeBags" value="@Model.CountLargeBags" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CountSmallBags" class="control-label"></label>
                        <input asp-for="CountSmallBags" value="@Model.CountSmallBags" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label class="control-label hidden">@Html.DisplayNameFor(model => model.HasAirConditioning)</label>
                        <label class="container-checkbox">

                            @Html.DisplayNameFor(model => model.HasAirConditioning)
                            <input type="checkbox" asp-for="@Model.HasAirConditioning" value="@Model.HasAirConditioning" readonly>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" value="@Model.Status" class="form-control" readonly />
                    </div>
                </div>
                <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                    <div class="form-group col-md-6">
                        <label asp-for="Km" class="control-label"></label>
                        <input asp-for="Km" value="@Model.Km" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PricePerDay" class="control-label"></label>
                        <input asp-for="PricePerDay" value="@Model.PricePerDay" class="form-control" readonly />

                    </div>
                </div>
            </div>

            <div class="row d-flex flex-column">
                @if (Model.Image == null)
                {
                    <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                        <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                            <img style="width:50px;height:50px" src="@Url.Content("~/images/cars/default.png")" alt="">
                        </div>
                    </div>
                }
                else
                {
                    <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                        <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                            <img class="car-uploaded-img img-car" src="@Url.Content("~/images/cars/" + Model.Image)" alt="">
                        </div>

                    </div>

                }
            </div>


            <div class="form-group">
                <h4 class="text-center">Rezerve car</h4>
                <hr />
            </div>
            <div class="row mr-0 ml-0 pr-0 pl-0">
                <div class="form-group col-md-4">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" type="datetime" class="form-control flatpickr" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" type="datetime" class="form-control flatpickr" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TypeOfPayment" class="control-label"></label>
                    @Html.DropDownListFor(model => model.TypeOfPayment, new SelectList(ViewBag.TypesOfPayment, "Name", "Name"), "",
                    new { @class = "select form-control" })
                    <span asp-validation-for="TypeOfPayment" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-8 hidden" id="payment-form">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>



            <div class="form-group">
                <input type="submit" id="add-deal" value="Rezerv" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(document).ready(function () {


            $('.flatpickr').flatpickr({
                minDate: "today",
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
            });
            $('.select').select2();

            if ($('.flatpickr').val() == "0001-01-01T00:00:00.000") {
                $('.flatpickr').val('');
            }


            $('#add-deal').on("click", function (event) {
                if ($('.flatpickr').val() == '' || $('#TypeOfPayment').val() == '') { }
                else if ($('.InputElement').val() == '') {
                    event.preventDefault();
                }

            });

            $("#TypeOfPayment").change(function () {

                if ($(this).val().toLowerCase() == 'card') {
                    if ($('#payment-form').hasClass('hidden')) {
                        $('#payment-form').removeClass('hidden');
                    }
                } else {
                    if (!$('#payment-form').hasClass('hidden')) {
                        $('#payment-form').addClass('hidden');
                    }
                }
            });

            var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
            var elements = stripe.elements();
            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            var card = elements.create('card', { style: style });
            card.mount('#card-element');
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });


            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        stripeTokenHandler(result.token);
                    }
                });
            });


            function stripeTokenHandler(token) {
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);
                form.submit();
            }

        });
    </script>
}
