﻿@model CarRental.Models.ViewRezervationDetails


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="~/css/checkbox.css" />
<link rel="stylesheet" href="~/css/new-car.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



<link href="~/starRatingPlugin/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/starRatingPlugin/themes/krajee-svg/theme.min.css" media="all" rel="stylesheet" type="text/css" />

<h4 class="text-center">Car Details</h4>
<hr />
<form id="new-car-form" novalidate enctype="multipart/form-data">
    <div class="row">
        <input asp-for="IdUser" value="@Model.IdUser" type="hidden" />
        <input asp-for="IdRezervation" value="@Model.IdRezervation" type="hidden" />
        <input asp-for="Id" value="@Model.Id" type="hidden" />
        <input asp-for="IdCarModel" value="@Model.IdCarModel" type="hidden" />
        <input asp-for="Image" value=@Model.Image type="hidden" />
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" value="@Model.Name" class="form-control" readonly />
        </div>

        <div class="form-group col-md-6">
            <label asp-for="ModelName" class="control-label"></label>
            <input asp-for="ModelName" value="@Model.ModelName" readonly class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Color" class="control-label"></label>
            <input asp-for="Color" value="@Model.Color" class="form-control" readonly />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Gearbox" class="control-label"></label>
            <input asp-for="Gearbox" value="@Model.Gearbox" readonly class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
            <div class="form-group col-md-6">
                <label asp-for="CountDoors" class="control-label"></label>
                <input asp-for="CountDoors" value="@Model.CountDoors" class="form-control" readonly />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CountSeats" class="control-label"></label>
                <input asp-for="CountSeats" value="@Model.CountSeats" class="form-control" readonly />
            </div>
        </div>
        <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
            <div class="form-group col-md-6">
                <label asp-for="CountLargeBags" class="control-label"></label>
                <input asp-for="CountLargeBags" value="@Model.CountLargeBags" class="form-control" readonly />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CountSmallBags" class="control-label"></label>
                <input asp-for="CountSmallBags" value="@Model.CountSmallBags" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
            <div class="form-group col-md-6">
                <label class="control-label hidden">@Html.DisplayNameFor(model => model.HasAirConditioning)</label>
                <label class="container-checkbox">

                    @Html.DisplayNameFor(model => model.HasAirConditioning)
                    <input type="checkbox" asp-for="@Model.HasAirConditioning" value="@Model.HasAirConditioning" readonly>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" value="@Model.Status" class="form-control" readonly />
            </div>
        </div>
        <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
            <div class="form-group col-md-6">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" value="@Model.Km" class="form-control" readonly />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" value="@Model.PricePerDay" class="form-control" readonly />

            </div>
        </div>


    </div>

    <div class="row d-flex flex-column">
        @if (Model.Image == null)
        {
            <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                    <img style="width:50px;height:50px" src="~/images/cars/default.png" alt="">
                </div>

            </div>

        }
        else
        {
            <div class="row col-lg-6 mr-0 ml-0 pr-0 pl-0">
                <div class="container-fluid bordered d-flex flex-column justify-content-center align-items-center car-uploaded-img">
                    <img class="car-uploaded-img img-car" src="~/images/cars/@Model.Image" alt="">
                </div>

            </div>

        }
        <div class="row col-lg-6">
            @if (Model.Voted == true)
            {
                <input class="rating-item-input" id="@Model.IdRezervation" value="@Model.Rating" />
            }
            else
            {
                <input class="rating-item-input" id="@Model.IdRezervation" />
            }


        </div>
    </div>

    <div class="form-group">
        <h4 class="text-center">Rezervation details</h4>
        <hr />
    </div>
    <div class="row mr-0 ml-0 pr-0 pl-0">
        <div class="form-group col-md-4">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" value="@Model.StartDate" readonly type="datetime" class="form-control flatpickr" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" type="datetime" value="@Model.EndDate" readonly class="form-control flatpickr" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="TypeOfPayment" class="control-label"></label>
            <input asp-for="TypeOfPayment" value="@Model.TypeOfPayment" readonly class="form-control" />
            <span asp-validation-for="TypeOfPayment" class="text-danger"></span>
        </div>
    </div>

</form>


<script src="~/starRatingPlugin/js/star-rating.min.js" type="text/javascript"></script>
<script src="~/starRatingPlugin/js/locales/ro.js" type="text/javascript"></script>
<script src="~/starRatingPlugin/themes/krajee-svg/theme.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.hidden').css("visibility", "hidden");

        $('.select').select2();

        $('.rating-item-input').rating({
            min: 0,
            max: 5,
            step: 0.5,
            size: 'md',
            showClear: true,
            language: "en",
        });
        if ($('.rating-item-input').val() != '') {
            $('.rating-item-input').rating('refresh', {
                displayOnly: true,
            });
        }

        $('.rating-item-input').on('rating:change', function (event, value, caption) {

            let id = $(this).attr("id");
            var ratingValue = $(this).rating('refresh', {
                displayOnly: true,
                showClear: false,
                showCaption: true
            }).val()
            var url = `Vote?rate=${ratingValue}&idRezervation=${id}`;

            $.ajax({
                type: "GET",
                url: url,
                success: function (data) { },
                error: function (data) { }
            });
        });

    });
</script>