﻿
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="table_id" class="display" style="width:100%">
</table>

@section Modal{
    <div id="modal-wrapper">
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-edit-rezervation">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="row d-flex flex-column justify-content-center align-items-center">
                        <div class="container-fluid d-flex flex-row justify-content-end align-items-center p-3">
                            <button type="button" class="close p-2 mr-2 mt-2" data-dismiss="modal">&times;</button>
                        </div>


                        <div class="col-md-11" id="modal-edit-rezervation-content">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/history.js"></script>
}
